<div class="d-inline p-2 bg-info">
    <?= "<span class='text-white'>" . "(X)" . "</span> "; ?>
    <?= $this->Html->link('Repost', array('controller' => 'reposts', 
    'action' => 'add',  $post_id), array('class' => 'text-decoration-none text-white')) ?>
</div>